{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{{% block body %}
<br>
<h2><b>Welcome To E-Learning4U</b></h2>
<br>
<h5>This website is designed by Harsh Saxena</h5>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner my-4 px-4">
    <div class="carousel-item active">
      <img src="/static/1.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<br>
  <h5><b>Video by Allie Munro</b></h5>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/viHILXVY_eU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
  <br>
  <br>
  <br>
  <br>
  <h5><b>Video by LearnEveryone</b></h5>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/14HcXzFQPtM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
{% endblock body %}}



