{% extends 'base.html' %}

{% block title %}Mock Tests{% endblock title %}

{{% block body %}

<div class="container my-4">
<h1 class="my-4 text-center">Latest Mock Tests for your preparation</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {%for test in tests%}
      <div class="col">
        <div class="card shadow-sm">
          <iframe width="400" height="315" src={{test.link}} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h1><b>{{test.desc}}</b></h1>
          <h3>{{test.creator}}</h3>

          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      {%endfor%}

{% endblock body %}}

